<div class="wrapper">

  <!-- Navbar -->
  <app-navbar></app-navbar>

  <!-- Main Sidebar Container -->
  <app-leftmenu></app-leftmenu>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-contentheader></app-contentheader>

    <!-- Main content -->
    <app-content></app-content>
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <app-footer></app-footer>

</div>

<router-outlet></router-outlet>
